# Azure Communication Services email configuration
ACS_CONNECTION_STRING="endpoint=https://your-resource.communication.azure.com/;accesskey=your_access_key"
ACS_EMAIL_SENDER="DoNotReply@your-resource.azurecomm.net"
ACS_EMAIL_RECIPIENT="you@example.com"

VITE_WHATSAPP_NUMBER="no. with country code eg 917537465234 for indian no"
